<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <h1>details</h1>
    <table border="2">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <% if(details.length >0) { %>

            <% for (let i =0;i<details.length;i++){%>
                    <tr>
                        <td><%- details[i].ind %></td>
                        <td><%- details[i].name %></td>
                        <td><%- details[i].age %></td>
                    </tr>
          <%  } %>

            <% }else{%>
                <h1>details not found</h1>
                <%} %>
    </table>
</body>

</html>